@font-face {
    font-family: "Nodesto Cyrillic Regular";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Nodesto Cyrillic Regular"),
         url(../FONT/Nodesto\ Cyrillic\ Regular.ttf)
}  
@font-face {
    font-family: "AlegreyaSC-Black";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: local("AlegreyaSC-Black"),
         url(../FONT/AlegreyaSC-Black.ttf)
}  
@media (max-width: 1980px) {
    header, footer {
    /*размер текста*/
    font-size: 24pt;
    }
    button {
    /*размер текста*/
    font-size: 18pt;
    }
}
@media (max-width: 1350px) {
    header, footer {
    /*размер текста*/
    font-size: 16pt;
    }
    button {
    /*размер текста*/
    font-size: 12pt;
    }
    .IconSite image{
        width: 30px;
        height: 30px;
    }
}
    @media (max-width: 1050px) {
    header, footer {
    /*размер текста*/
    font-size: 14pt;
    }
    button {
    /*размер текста*/
    font-size: 7pt;
    }
    .IconSite image{
        width: 15px;
        height: 15px;
    }
}
@media (max-width:750px) {
    header, footer {
    /*размер текста*/
    font-size: 6pt;
    }
    button {
    /*размер текста*/
    font-size: 4pt;
    }
}
::selection {
    color: rgb(0, 0, 0);
    background: rgb(167, 207, 167);
}

body{
    padding: 0px;
    margin: 0px;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
/*Стили шапки*/
header{
    background-color: black;
    height: 70px;
    color: blanchedalmond;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-family: "Nodesto Cyrillic Regular";
    font-weight:100;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align:center;
}
ul, ol, li, p, h1, h2, a{
    padding: 0;
    margin: 0;
    list-style-type: none;
    line-height: normal;
}
header ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
header li{
    margin: 10px;
}
header button{
    font-family: "AlegreyaSC-Black";
    font-weight:100;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    background-color: blanchedalmond;
    border: 1px solid rgb(255, 175, 56);
}


/*Стили основного контента*/
section{
    margin: 0px;
    padding: 0px;
    flex-grow: 1;
    background-color: blanchedalmond;
    position: relative;
    text-align: center;
    color: white;
}
/*Стили подвала*/
footer{
  /* Чтобы footer не уменьшался */
  flex-shrink: 0;
  background: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px;
}


